:root{
  --white-bg : #ffffff;
  --grey-color: #a7a7a7;
  --light-grey : #f8f8f8;
  --dark-grey : #efefef;
  --black-color: #212b33;
  --orange-color : #f27c4a;
  --green-color: #41b874;
  --red-color: #eb5252;
}
